Counterterrorism Wars - Drone Attacks in Pakistan

# Data Wrangling

Objectives:
* Clean Data
* Format Data

###  Import Libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## 1) Load Data

In [ ]:
df=pd.read_csv('/content/drive/My Drive/Data Science/drone_attacks.csv', parse_dates=True, )

In [ ]:
df.head(3)

,strikes,date,village,region,year,leaders_killed,leader_names,leader_description,militants_low,militants_high,...,geo_lon,province,strike_type,Source,Source.1,Source.2,Source.3,Source.4,Source.5,Source.6
0,1,6/19/2004,Wana,South Waziristan,2004,1.0,Nek Muhammad,"Commander, Taliban",1.0,1.0,...,69.565430,Federally Administered Tribal Areas,NaN,New York Times,CNN,New York Times,NaN,NaN,NaN,NaN
1,1,5/8/2005,"Toorikhel, Mirali",North Waziristan,2005,1.0,Haitham al-Yemeni,"Explosives expert, al Qaeda",2.0,2.0,...,70.261345,Federally Administered Tribal Areas,NaN,Washington Post,NBC,NaN,NaN,NaN,NaN,NaN
2,1,11/5/2005,Haisori,North Waziristan,2005,0.0,NaN,NaN,0.0,0.0,...,70.043335,Federally Administered Tribal Areas,NaN,Christian Science Monitor,CNN,NaN,NaN,NaN,NaN,NaN

## 2) Explore Data

Number of Rows and Columns in Dataset.

In [ ]:
df.shape

(414, 37)

Number of values and Type of each Column

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 37 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   strikes                   414 non-null    int64
 1   date                      414 non-null    object
 2   village                   414 non-null    object
 3   region                    414 non-null    object
 4   year                      414 non-null    int64
 5   leaders_killed            253 non-null    float64
 6   leader_names              75 non-null     object
 7   leader_description        75 non-null     object
 8   militants_low             412 non-null    float64
 9   militants_high            412 non-null    float64
 10  militants_avg             412 non-null    float64
 11  unknown_low               86 non-null     float64
 12  unknown_high              85 non-null     float64
 13  unknown_avg               86 non-null     float64
 14  civilians_low             68 non-null     float64
 15  civilians_high            68 non-null     float64
 16  civilians_avg             68 non-null     float64
 17  total_low                 414 non-null    int64
 18  total_high                414 non-null    int64
 19  total_avg                 414 non-null    float64
 20  president_name            414 non-null    object
 21  president_number          414 non-null    int64
 22  target_type               414 non-null    object
 23  target_description        124 non-null    object
 24  target_organization_name  413 non-null    object
 25  target_group              413 non-null    object
 26  geo_lat                   414 non-null    float64
 27  geo_lon                   414 non-null    float64
 28  province                  404 non-null    object
 29  strike_type               26 non-null     object
 30  Source                    393 non-null    object
 31  Source.1                  376 non-null    object
 32  Source.2                  302 non-null    object
 33  Source.3                  184 non-null    object
 34  Source.4                  66 non-null     object
 35  Source.5                  37 non-null     object
 36  Source.6                  19 non-null     object
dtypes: float64(13), int64(5), object(19)
memory usage: 119.8+ KB

Drop Columns which are irrelevant in Analysis Process.

In [ ]:
df.drop(columns=['Source', 'Source.1', 'Source.2', 'Source.3', 'Source.4', 'Source.5', 'Source.6','strike_type','target_description','president_number'],inplace=True)

## 3) Dealing with Missing values

Check total number of missing values in each column

In [ ]:
df.isnull().sum()

strikes                       0
date                          0
village                       0
region                        0
year                          0
leaders_killed              161
leader_names                339
leader_description          339
militants_low                 2
militants_high                2
militants_avg                 2
unknown_low                 328
unknown_high                329
unknown_avg                 328
civilians_low               346
civilians_high              346
civilians_avg               346
total_low                     0
total_high                    0
total_avg                     0
president_name                0
target_type                   0
target_organization_name      1
target_group                  1
geo_lat                       0
geo_lon                       0
province                     10
dtype: int64

At this phase we have to ask ourself a question.
- Which of the values are missing because they don't exist? 
- Which of the values are missing because they weren't recorded?  


Based on answer of above question, we'll deal with missing values.

### a) Province

Let's have a look at rows where ***province*** has missing value.

In [ ]:
df[df['province'].isnull()][['province','region','village','geo_lat','geo_lon']]

,province,region,village,geo_lat,geo_lon
391,NaN,Federally Administered Tribal Areas,"Shawal Valley, North Waziristan",32.615148,69.510230
392,NaN,North Waziristan,Shawal,32.614715,69.499587
393,NaN,North Waziristan,Shawal,32.614715,69.499587
394,NaN,North Waziristan,Shawal,32.616920,69.499930
395,NaN,North Waziristan,Shawal,32.616920,69.499930
396,NaN,North Waziristan,Datta Khel,32.905929,69.748292
397,NaN,North Waziristan,Datta Khel,32.905614,69.748292
398,NaN,North Waziristan,Mangrooti,32.704161,69.467315
399,NaN,Kurram,Shahidano Dhand,33.665697,70.628474
400,NaN,Balochistan,Dahl Bandin,28.948282,64.271875

By observing Data it can be seen that values are missing because they weren't recorded. 

We can find out missing values for province by looking at region and village column.

In [ ]:
indices_fata=[391,392,393,394,395,396,397,398,399]
df.loc[indices_fata,'province'] = "federally administered tribal areas"

In [ ]:
indices_balochistan = [400]
df.loc[indices_balochistan,'province'] = "balochistan"

In [ ]:
df['province'].isnull().sum()

0

### b) leaders_killed, leader_names and leader_description

If values in ***leaders_killed, 'leader_names' or 'leader_description'*** are missing it means none of the leaders was killed in this strike.

Values are missing because they don't exist.

show rows having null values for leaders killed.

In [ ]:
df[df['leaders_killed'].isnull()][['leaders_killed','leader_names','leader_description']]

     leaders_killed leader_names leader_description
5               NaN          NaN                NaN
44              NaN          NaN                NaN
215             NaN          NaN                NaN
216             NaN          NaN                NaN
217             NaN          NaN                NaN
..              ...          ...                ...
394             NaN          NaN                NaN
395             NaN          NaN                NaN
396             NaN          NaN                NaN
397             NaN          NaN                NaN
399             NaN          NaN                NaN

[161 rows x 3 columns]

By manually observing data it is noticed that each row where value for **'leaders_killed'** is missing, also has corresponding missing value for **'leader_names'** and **'leader_description'**.

In [ ]:
null_leaders_killed_indices = list(df[df['leaders_killed'].isnull()].index)
null_leaders_names_indices = list(df[df['leader_names'].isnull()].index)
null_leaders_description_indices = list(df[df['leader_description'].isnull()].index)

In [ ]:
df.loc[null_leaders_killed_indices,'leaders_killed'] = 0

In [ ]:
df.loc[null_leaders_names_indices,'leader_names'] = 'none'

In [ ]:
df.loc[null_leaders_description_indices,'leader_description'] = 'none'

### c) Unknown, civilians and millitants

By observing data it can be seen that low, high and average values for unknown, civilians and millitants are missing because they don't exist or simply casualties in respective categories are 0.

In [ ]:
df[['militants_low','militants_high','militants_avg']] = df[['militants_low','militants_high','militants_avg']].fillna(0)

In [ ]:
df[['unknown_low','unknown_high','unknown_avg']] = df[['unknown_low','unknown_high','unknown_avg']].fillna(0)

In [ ]:
df[['civilians_low','civilians_high','civilians_avg']] = df[['civilians_low','civilians_high','civilians_avg']].fillna(0)

### d) target_group and target_organization_name

Checking unique values in ***target_group*** and ***target_organization_name*** column

In [ ]:
df['target_group'].value_counts()

7. Unclear                           170
1. Taliban                           128
3. Al-Qaeda                           51
4. Haqqani Network                    43
2. Taliban factions                   17
5. Islamic Movement of Uzbekistan      3
6. ISIS                                1
Name: target_group, dtype: int64

In [ ]:
df['target_organization_name'].value_counts()

Unclear                               170
Taliban                               128
Al-Qaeda                               51
Haqqani Network                        43
Baitullah Mehsud Faction (Taliban)     15
Islamic Movement of Uzbekistan          3
Maulvi Nazir Faction (Taliban)          2
ISIS                                    1
Name: target_organization_name, dtype: int64

It can be observed that value is missing because it doesn't exist.

Replace values with 'unclear'

In [ ]:
null_target_group_indices =  list(df[df['target_group'].isnull()][['target_group','target_type','target_organization_name']].index)

In [ ]:
df.loc[null_target_group_indices,'target_group'] = 'unclear'

In [ ]:
df.loc[null_target_group_indices,'target_organization_name'] = 'unclear'

## 4) Data Formatting

### a) Convert string data to lower case

In [ ]:
df = df.applymap(lambda s: s.lower() if type(s) == str else s)

### b) Renaming Columns

In [ ]:
df.rename(columns={"militants_low":"militants-killed-low","militants_high":"militants-killed-high","militants_avg":"militants-killed-avg","unknown_low":"unknown-killed-low","unknown_high":"unknown-killed-high","unknown_avg":"unknown-killed-avg","civilians_low":"civilians-killed-low","civilians_high":"civilians-killed-high","civilians_avg":"civilians-killed-avg","total_low":"total-killed-low","total_high":"total-killed-high","total_avg":"total-killed-avg","leader_names":"leader-names","leaders_killed":"leaders-killed","leader_description":"leader-description","president_name":"president (US)","target_type":"target-type","target_organization_name":"target-organization","target_group":"target-group","geo_lat":"target-latitude","geo_lon":"target-longitude"}, inplace=True)

### c) Parsing date column

In [ ]:
df['date'] = pd.to_datetime(df['date'], format="%m/%d/%y",infer_datetime_format=True)

### d) Changing Data types of columns

In [ ]:
df.dtypes

strikes                           int64
date                     datetime64[ns]
village                          object
region                           object
year                              int64
leaders-killed                  float64
leader-names                     object
leader-description               object
militants-killed-low            float64
militants-killed-high           float64
militants-killed-avg            float64
unknown-killed-low              float64
unknown-killed-high             float64
unknown-killed-avg              float64
civilians-killed-low            float64
civilians-killed-high           float64
civilians-killed-avg            float64
total-killed-low                  int64
total-killed-high                 int64
total-killed-avg                float64
president (US)                   object
target-type                      object
target-organization              object
target-group                     object
target-latitude                 float64
target-longitude                float64
province                         object
dtype: object

In [ ]:
df["leaders-killed"] = df["leaders-killed"].astype("int")
df["militants-killed-low"] = df["militants-killed-low"].astype("int")
df["militants-killed-high"] = df["militants-killed-high"].astype("int")
df["militants-killed-avg"] = df["militants-killed-avg"].astype("int")
df["unknown-killed-low"] = df["unknown-killed-low"].astype("int")
df["unknown-killed-high"] = df["unknown-killed-high"].astype("int")
df["unknown-killed-avg"] = df["unknown-killed-avg"].astype("int")
df["civilians-killed-low"] = df["civilians-killed-low"].astype("int")
df["civilians-killed-high"] = df["civilians-killed-high"].astype("int")
df["civilians-killed-avg"] = df["civilians-killed-avg"].astype("int")
df["total-killed-avg"] = df["total-killed-avg"].astype("int")

## 5) Dealing with Inconsistent Data

### a) Region

In [ ]:
df['region'].value_counts()

north waziristan                       297
south waziristan                        89
khyber                                   6
kurram agency                            6
kurram                                   5
bajaur                                   3
khyber pakhtunkhwa                       3
orakzai                                  2
federally administered tribal areas      1
balochistan                              1
khyber punkhtunkhwa                      1
Name: region, dtype: int64

Replacing *khyber punkhtunkhwa* and *khyber* with *khyber pakhtunkhwa*.

In [ ]:
df['region'].replace('khyber punkhtunkhwa','khyber pakhtunkhwa',inplace=True)

In [ ]:
df['region'].replace('khyber','khyber pakhtunkhwa',inplace=True)

Replacing *kurram* with *kurram agency*.

In [ ]:
df['region'].replace('kurram','kurram agency',inplace=True)

### b) Target Type

In [ ]:
df['target-type'].value_counts()

compound              150
vehicle                92
house                  91
unclear                25
training camp          15
gathering               9
militantcompound        7
motorcycle              7
house and vehicle       6
madrassa                4
funeral                 3
business                2
building                2
militant componund      1
Name: target-type, dtype: int64

Replacing *militant componund* and *militantcompound* with compound

In [ ]:
df['target-type'].replace('militant componund','compound',inplace=True)

In [ ]:
df['target-type'].replace('militantcompound','compound',inplace=True)

Replacing *motorcycle* with *vehicle*.

In [ ]:
df['target-type'].replace('motorcycle','vehicle',inplace=True)

### c) Organization

In [ ]:
df['target-organization'].value_counts()

unclear                               171
taliban                               128
al-qaeda                               51
haqqani network                        43
baitullah mehsud faction (taliban)     15
islamic movement of uzbekistan          3
maulvi nazir faction (taliban)          2
isis                                    1
Name: target-organization, dtype: int64

Replacing *baitullah mehsud faction (taliban)* and *maulvi nazir faction (taliban)* with *taliban*

In [ ]:
df['target-organization'].replace('baitullah mehsud faction (taliban)','taliban',inplace=True)

In [ ]:
df['target-organization'].replace('maulvi nazir faction (taliban)','taliban',inplace=True)

In [ ]:
path = '/content/drive/My Drive/Data Science/drone-attacks-data-cleaned.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df.to_csv(f)